<div class="media">
    <h2>{{movie.Title}}</h2>
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="{{movie.Poster}}" alt="{{movie.Title}}">
        </a>
    </div>
    <div class="media-body">
        <p class="media-heading"><span class="makeBold">Starring:</span> {{movie.Actors}}</p>
        <p class="media-heading">{{movie.Plot}}</p>
        <h4>Additional Details</h4>
        <span class="makeBold">Awards</span>
        <p> {{movie.Awards}}</p>
        <span class="makeBold">Country</span>
        <p> {{movie.Country}}</p>
        <span class="makeBold">Director</span>
        <p> {{movie.Director}}</p>
        <span class="makeBold">Genre</span>
        <p> {{movie.Genre}}</p>
        <span class="makeBold">Language</span>
        <p> {{movie.Language}}</p>
        <span class="makeBold">Metascore</span>
        <p> {{movie.Metascore}}</p>
        <span class="makeBold">Metascore</span>
        <p> {{movie.Metascore}}</p>
        <span class="makeBold">Rated</span>
        <p> {{movie.Rated}}</p>
        <span class="makeBold">Released</span>
        <p> {{movie.Released}}</p>
        <span class="makeBold">Runtime</span>
        <p> {{movie.Runtime}}</p>
        <span class="makeBold">Title</span>
        <p> {{movie.Title}}</p>
        <span class="makeBold">Writer(s)</span>
        <p> {{movie.Writer}}</p>
        <span class="makeBold">Year</span>
        <p> {{movie.Year}}</p>
        <span class="makeBold">imdbRating</span>
        <p> {{movie.imdbRating}}</p>
        <span class="makeBold">imdbVotes</span>
        <p> {{movie.imdbVotes}}</p>
    </div>
</div>
